<nav>
  <div class="site-title">
    <a href="/"><h1>Book Resource</h1></a>
    <p>A place where your world exist</p>
  </div>
  <ul>
    <li><a href="/">Browse</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
  </ul>
</nav>