<nav>
  <div class="site-title">
    <a href="/"><h1>Book Resource</h1></a>
    <p>A place where your world exist</p>
  </div>
  <ul>
    <li><a href="/">Browse</a></li>
    <% if (!token) { %>
      <li><a href="/api/users/login">Login</a></li>
      <li><a href="/api/users/register">Register</a></li>
    <% } else if (token) { %>
      <li><a href="/api/users/logout">logout</a></li>
    <% } %>
  </ul>
</nav>