<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="not-found content">
    <p> <%= message %> </p>
    <br/>
    <a href="/api/users/login" class="btn btn-primary">Go to Login</a>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>