<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <h2>Add a new book</h2>
    <form action="/api/books" method="POST">
      <label for="title">Title:</label>
      <input type="text" id="title" name="Title" required>
      <label for="snippet">Book Author:</label>
      <input type="text" id="snippet" name="Author" required>
      <label for="snippet">Book description:</label>
      <textarea id="body" name="Description" required></textarea>
      <label for="snippet">Pagecount:</label>
      <input type="text" id="snippet" name="pageCount" required>
      <label for="snippet">Book Genre(s):</label>
      <input type="text" id="snippet" name="Genre" required>
      <label for="body">Publisher:</label>
      <input type="text" id="snippet" name="Publisher" required>
      <button type="submit">Submit</button>
    </form>

    <a href="/api/books" class="href">Go to Home</a>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>